@page "/Contact"
@inherits ContactBase

<PageTitle Title="FURTHER CONTACT" Position="6" />

<p>Would you like to be contacted?</p>

<EditForm EditContext="@EditContext">
    <DataAnnotationsValidator />

    <div class="contact-option-row">
        <Label For="@(() => Model.SurveyResults)" />
        <InputCheckbox id="survey-results" @bind-Value="Model.SurveyResults" class="form-control" />
    </div>

    <div class="contact-option-row">
        <Label For="@(() => Model.FollowUpQuestions)" />
        <InputCheckbox id="follow-up-questions" @bind-Value="Model.FollowUpQuestions" class="form-control" />
    </div>

    <div class="contact-option-row">
        <Label For="@(() => Model.FurtherSurveys)" />
        <InputCheckbox id="further-surveys" @bind-Value="Model.FurtherSurveys" class="form-control" />
    </div>

    @if (Model.RequiresEmailAddress)
    {
        <div class="form-group">
            <Label For="@(() => Model.Email)" />
            <InputText id="email" @bind-Value="Model.Email" class="form-control" />
            <ValidationMessage For="@(() => Model.Email)" />
            @if (!Model.IsEmailValid)
            {
                <div class="validation-message">Please provided email</div>
            }
        </div>
    }

    <SetInputFocus ById="survey-results" />

    <NavigationButtons PreviousUrl="/OneChange" NextUrl="/ThankYou" />
</EditForm>
