@page "/Demographic"

<Navigation />

<SurveyNavigation Model="@_model">
    <div class="form-group">
        <Label For="@(() => _model.CompanySize)" />
        <InputSelect id="company-size" @bind-Value="@_model.CompanySize" class="form-control">
            <option value="">Please select</option>
            <option value="Myself only">Myself only</option>
            <option value="2-10 employees">2-10 employees</option>
            <option value="11-50 employees">11-50 employees</option>
            <option value="51-200 employees">51-200 employees</option>
            <option value="201-500 employees">201-500 employees</option>
            <option value="500-1,000 employees">500-1000 employees</option>
            <option value="1,001-5,000 employees">1001 - 5000 employees</option>
            <option value="5,001-10,000 employees">5001 - 10,000 employees</option>
            <option value="10,001+ employees">10,001+ employees</option>
        </InputSelect>
        <ValidationMessage For="@(() => _model.CompanySize)" />
    </div>

    <div class="form-group">
        <Label For="@(() => _model.JobSeniority)" />
        <InputSelect id="job-seniority" @bind-Value="@_model.JobSeniority" class="form-control">
            <option value="">Please select</option>
            <option value="Senior">Senior</option>
            <option value="Manager">Manager</option>
            <option value="Director">Director</option>
            <option value="CXO">CXO</option>
            <option value="Owner">Owner</option>
            <option value="Partner">Partner</option>
            <option value="Other">Other</option>
        </InputSelect>
        <ValidationMessage For="@(() => _model.JobSeniority)" />
    </div>

    <div class="form-group">
        <Label For="@(() => _model.JobTitle)" />
        <InputText id="job-title" @bind-Value="@_model.JobTitle" class="form-control" />
    </div>

    <div class="form-group">
        <Label For="@(() => _model.UKBased)" />
        <InputSelect id="uk-based" @bind-Value="@_model.UKBased" class="form-control">
            <option value="">Please select</option>
            <option value="Fully">Fully</option>
            <option value="Mostly">Mostly</option>
            <option value="Partially">Partially</option>
            <option value="Not at all">Not at all</option>
        </InputSelect>
        <ValidationMessage For="@(() => _model.UKBased)" />
    </div>
</SurveyNavigation>

@code
{
    [Inject]
    private SoftwareSurvey.Models.SurveyResponse _surveyResponse { get; set; }

    [Inject]
    private IJSRuntime JSRuntime { get; set; }

    [Inject]
    private SoftwareSurvey.Services.IEventLoggingService _eventLoggingService { get; set; }

    private SoftwareSurvey.Models.Demographic _model;

    protected override void OnInitialized()
    {
        _model = _surveyResponse.Demographic;
        _eventLoggingService.TrackEvent("Loaded demographic page");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("SurveySite.focusElementById", "company-size");
        }
    }
}